<head>
  <!--<script type="text/javascript" src="/static/bower_components/angular/angular.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="/static/js/main_controller.js"></script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body ng-app="myApp">
  <div class="container">
    <div class="row">
      <div class="col" ng-controller="myCtrl">
        <h1>Bundesland</h1>
        <ul>
          <li ng-repeat="state in states"><a href="#"></a> {{state}} </li>
        </ul>
      </div>
      <div class="col" ng-controller="constituenyCtrl">
        <h1>Wahlkreis</h1>
        <input type="text">
        <li ng-repeat="constituency in constituencies"><a href="#"></a> {{constituency}} </li>
      </div>
      <div class="col">
        <h1>Ergebnis</h1>
        <input type="text">
      </div>
    </div>
  </div>

  <!--<h1 ng-repeat="name in all_names">{{name}} + "test"</h1>-->

  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
      $scope.states = [
        "Baden-Wüttemberg",
        "Bayern",
        "Berlin",
        "Brandenburg",
        "Bremen",
        "Hamburg",
        "Hessen",
        "Mecklenburg-Vorpommern",
        "Niedersachsen",
        "Nordreihn-Westfalen",
        "Reihnland-Pfalz",
        "Saarland",
        "Sachsen",
        "Sachsen-Anhalt",
        "Schleswig-Holstein",
        "Thüringen",
      ];
    });
  </script>
  <!-- <script>
    var app = angular.module("myApp", []);
    app.controller("constituenyCtrl", function ($scope) {
      $scope.constituencies = [
        "Berlin-Charlottenburg-Wilmersdorf",
        "Berlin-Friedrichshein-Kreuzberg-Prenzlauerberg Ost",
        "Berlin-Lichtenberg",
        "Berlin-Marzah-Hellerdorf",
      ];
    });
  </script> -->

</body>