<head>
  <!--<script type="text/javascript" src="/static/bower_components/angular/angular.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="/static/js/main_controller.js"></script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <!-- chart.js and angular-chart.js -->
  <script src="../static/bower_components/chart.js/Chart.min.js"></script>
  <script src="../static/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
</head>

<body ng-app="app">
  <div class="container">
    <div class="row" ng-controller="main_controller">
      <div class="col">
        <h1>Bundesland</h1>
        <ul>
          <li ng-repeat="state in states"><a href ng-click="showConstituencies()">{{state}}</a></li>
        </ul>
      </div>
      <div class="col">
        <h1>Wahlkreis</h1>
        <input type="text" ng-model="search">
        <ul>
          <li ng-repeat="constituency in constituencies | filter:search"><a href="#"> {{constituency}}</a></li>
        </ul>
      </div>
      <div class="col">
        <h1>Ergebnis</h1>
        <h3>Wahlkreis</h3>
        <table class="table">
            <thead>
                <tr>
                  <th>Partei</th>
                  <th>Erststimme</th>
                  <th>Zweitstimme</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>mary@example.com</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>july@example.com</td>
                </tr>
              </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col" ng-controller="BarCtrl">
          <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels"> chart-series="series"
          </canvas>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</body>